default: &default
  adapter: postgresql
  encoding: unicode
  user: <%= ENV.fetch("POSTGRES_USER") %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD") %>
  host: <%= ENV.fetch("DATABASE_HOST") %>
development:
  <<: *default
  database: development_chat2
test:
  <<: *default
  database: test_chat2
develop:
  <<: *default
  database: chat2
  host: <%= Rails.application.credentials.dig(:develop, :HOST) %>
  user: <%= Rails.application.credentials.dig(:develop, :DATABASE_USER) %>
  password: <%= Rails.application.credentials.dig(:develop, :DATABASE_PASSWORD) %>
staging:
  <<: *default
  pool: 5
  database: chat2
production:
  <<: *default
  database: chat2
  pool: 5